*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    background-color: hsl(0, 1%, 59%);
    color: hsl(0, 29%, 97%);
}
.titles{
    display: flex;
    font-size: 20px;
}
.user-icon{
    color: hsl(0, 29%, 97%);
    float: right;
    position: absolute;
    padding-top: 10px;
    font-size: 25px; 
    top: 7px;
    right: 210px;
   
}
.user-icon a{
    display: block;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    padding: 10px 15px;

}
.user-icon .content{
    display: none;
    position: absolute;
    background-color: white;
    font-size: 20px;
    width: 100px;
}
.user-icon:hover .content{
    display: block;
  
}

.user-icon a:hover{
    background-color: hsl(0, 0%, 65%);
}

.bell-icon{
    color: hsl(0, 29%, 97%);
    float: right;
    position: absolute;
    padding-top: 10px;
    font-size: 25px; 
    top: 7px;
    right: 250px;
}
.bell-icon a{
    display: block;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 15px;
}
.bell-icon .new-message{
    display: none;
    position: absolute;
    background-color: white;
    font-size: 20px;
    width: 250px;
}
.bell-icon:hover .new-message{
    display: block;
  
}
.notification-dot {
        position: absolute;
        top: 15px; 
        right: 3px;
        width: 7px;
        height: 7px;
        background-color: hsl(0, 100%, 50%);
        border-radius: 100%;
        animation-name: changeColor;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;

}
.bell-icon a:hover{
    background-color:  hsl(0, 0%, 65%);
}
.pid{
    color: hsl(0, 29%, 97%);
    float: right;
    position: absolute;
    padding-top: 10px;
    font-size: 15px; 
    top: 10px;
    right: 5%;
}

.messages{
    border: 2px 
    solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
}
.messages p{
    color: hsl(0, 0%, 7%);
}
.time-right{
    float: right;
    padding-top: 20px;
    color: hsl(0, 0%, 48%);
   
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 80%;
}
aside a{
    text-decoration: none;
    color: rgb(153, 153, 153);
    display: block;
}
aside a:hover {
background-color: hsl(0, 0%, 65%);
color: white;

}
#students{
color: black;
}

#addStudent{
font-size: 20px;
border: 2px solid black;
background-color: white;
margin-left: 52%;
}
#addStudent:hover:not(.active){
 background-color: hsl(0, 0%, 80%);

}
table{
    border: 1px solid black;
    border-spacing: 0px;
    text-align: center;
}

td, th{
    align-items: center;
    background-color: white;
    width: auto;
    height: 50px;
    padding: 15px;
    margin: 0%;
    border: 2px solid hsl(0, 3%, 6%);
 
}

.pagination{
    text-align: center;

}
.pagination a{
    color: black;
    padding: 8px 15px;
    display: inline-block;
    border: 1px solid black;
    text-decoration: none;

}
.pagination a.active{
    background-color: hsl(0, 1%, 64%);
    color: hsl(0, 0%, 98%);
    font-weight: bold;
}
.pagination a:hover:not(.active){
    background-color: hsl(0, 0%, 80%);
}

.additional-div {
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 500px;
    height: 400px; 
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #151212; 
    border-radius: 3%;
    padding: 20px;
}

.tab{
    width: 400px;
    height: 300px;
    padding: 10%, 10%;
    text-align: justify;
}

#create-student-btn{
    margin-top: 30px;
    width: 90px;
    height: 35px;
    float: right;
    display: none;
}
#edit-student-btn{
    display: none;
    margin-top: 30px;
    width: 90px;
    height: 35px;
    float: right;
}

#close-id-window-btn, #close-edit-window-btn, #close-delete-window-btn {
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px; 
    cursor: pointer; 
}


#delete-confirm-window{
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: #000;
}

#confirm-delete-btn{
    margin-left: 60%;
    font-size: 50%;
    width: 60px;
    height: 30px;
    background-color: whitesmoke;
}

#cancel-delete-btn{
    width: 60px;
    font-size: 50%;
    height: 30px;
}

@keyframes glow {
    
    0% { box-shadow: 0px 0px 10px hsl(0, 100%, 50%); }
    50% { box-shadow: 0px 0px 50px hsl(0, 100%, 50%);}
    100% { box-shadow: 0px 0px 10px hsl(0, 100%, 50%);}
}
@keyframes changeColor {
       
    0% {background-color: hsl(0, 84%, 71%);}
    20% { background-color: hsl(0, 0%, 100%)}
    40% { background-color: hsl(0, 84%, 71%);}
    60% { background-color: hsl(0, 0%, 100%)}
    80% { background-color: hsl(0, 84%, 71%);}
    100% {background-color: hsl(0, 0%, 100%);}
}

@media screen and (max-width:600px) {
    aside, section, article{
    width: 100%;
}
}